
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: (#7dcd91 , #d2f5f5 );
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}

.cabecalho_logo {
    height: 72px;
}

.menu{
    display: flex;
    gap: 32px;
}

.menu_item {
    font-family: "Sarala", sans-serif;
    font-size: 20px;
    color: #000000;
    font-weight: 400;
}

.conteudo {
   margin-bottom: 48px;
   border-top: 0.4px solid #e0dddd;
   margin: auto;
}

.conteudo_principal {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin: auto;
    
}


.conteudo_principal_escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
    
}

.conteudo_principal_titulo {
    font-family: "Righteous";
    font-size: 64px;
    font-weight: 400;
    font-size: 40px;
    
    
}

.conteudo_principal_subtitulo {
    font-family: "sarala";
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    
    

}
.conteudo_button {
    background-color: aliceblue;
    width: 180px;
    height: 50px;
    border-radius: 19px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    font-family: "Sarala";
    font-size: 14px;
    font-weight: 400; /* espessura da letra*/
    color: #000000;
    
    
}

.conteudo_principal_imagem {
    height: 480px;

}

.conteudo_secundario {
    display: flex;
    flex-direction: column;   
    margin-top: 48px;
    gap: 20px;
   padding: 20px;
    

}

.conteudo_secundario_titulo {
    border-top: 0.4px solid #e0dddd;
    padding-top: 40px;
    font-family: "Righteous";
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 16px;

}

.conteudo_secundario_paragrafo {
    justify-content: left;
    font-family: "Sarala";
}




.rodape{
    border-top: 0.4px solid #e0dddd;
}