@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');




:root {
    --color-001: #6cb469;
    --color-002: #3184e9;

    --color-003: #e6dfdf;
    --color-004: #c6e3ef;
    --color-004: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Roboto Mono', monospace;
    background-color: var(--color-002);
    font-size: 16px;
    
}


#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

}

#password_img {
    width: 100px;
}

#title {
    color: black;
    font-weight: 500;
    margin-bottom: 10px;

}

#password_container {
    width: 400px;
    max-width: 600px;
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-004);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 8px 18px;

}

#password_container.show {
    display: flex;
}

#password {
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#copy {
    background-color: transparent;
    border: none;
    color: var(--color-001);
    height: 25px;
    width: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: color .4s;
}

#copy:hover {
    color: beige;

}

#password_itens {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 5px;
    width: 400px;
    background-color: #33bcf3;
    padding: 18px;

}

.item {
    display: flex;
    gap: 14px;
    color: #ffffff;

}

#size {
    width: 50px;
    text-align: center;
    border: none;
    border-radius: 5px;
    height: 24px;

}

#size:focus {
    outline: 2px solid var(--color-primary-1);
}

#generate {
    background-color: #0461f6;
    border: none;
    margin-top: 12px;
    padding: 10px 0px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .4s;
}

#generate:hover {
    background-color: white;

}


































