@charset "UTF-8";

div.container {
    background-color: blue;
    height: 300px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    
}

div.item {
    background-color: violet;
    border: 1px solid black;
    padding: 3px;
    text-align: center;
    
    
    
    
}