@charset "UTF-8";

body {
    border: 1px dashed black;
    height: 98vh;
    background-image: url(../imagens/mascote.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: right top;


}

